<!DOCTYPE html>
<html lang="en">
<head>
	<title>Profile Card </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="container">
		<div class="profile-card">
			<img src="/static/images/cover.png" class="cover-pic">
			<img src="/static/images/profile.png" class="profile-pic">
			<h1>Brie Larson</h1>
			<p>Social Media Influencer, Tik Tok</p>
			<a href="#" class="follow-btn">Follow</a>
			<div class="social-media img">
			<img src="/static/images/instagram.png" class="instagram-pic">
			<img src="/static/images/telegram.png" class="instagram-pic">
			<img src="/static/images/dribble.png" class="instagram-pic">
			</div>
			<div class="row">
				<div>
					<p>Followers</p>
					<h2>1.25M</h2>
				</div>
				<div>
					<p>Following</p>
					<h2>26</h2>
				</div>
				<div>
					<p>Videos</p>
					<h2>240</h2>
				</div>
			</div>
			<a href="#" class="view-btn"> VIEW PRFILE</a>
		</div>
	</div>



</body>
</html>